.selectedType{
    color : #0000FF !important;
}

.sidebarHeading{
    padding-left: 20px;
}

.inputFilterText{
    padding-bottom: 20px;
}

.sidebar{
    padding-bottom: 50px;
    padding-top: 20px;
}