.home .searchInput{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 30px;
}

.searchInput
{
    outline:none;
}
.header .searchInput{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 20px;
}

.fullHeight{
    /* height: 500px;
    padding-top: 100px; */
}

.home .link{
    text-decoration: none;
}
.home {
    position: relative;
}
.home .icon{
    font-size:60px !important;
    top: calc(50% - 26px) !important;
    /* width: 72px !important;
    height: 80px !important;
    position: relative !important;
    top: 27px !important; */
}

.home .selectMenu{
    /* width: 0px;
    display: none !important; */
}

.home .searchOutline{
    border: solid 2px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.borderRight{
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.selectRoot{
    border: none !important;
}

.home .searchResults{
    position: absolute;
    top: 78px;
}

.header .searchResults{
    display: none;
}

.caseAutocomplete{
    border: solid 2px #cccccc;
}
.caseAutocomplete .listItem:hover{
    background-color: #ccc;
}